{
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "standard",
    "standard-jsx"
  ],
  "rules": {
    "jsx-quotes": ["warn", "prefer-single"],
    "space-before-function-paren": ["warn", "always"]
  }
}
